* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

:root {
    --black: #2c2c54;
    --orange: #f6ab20;
}

*::selection {
    background-color: var(--black);
    color: var(--orange);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
    overflow-x: hidden;
}

.test {
    font-size: 2rem;
    font-weight: bold;
    color: var(--orange);
}

Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5), 0 1px 3px rgba(0, 0, 0, .10);
}

Header .Header a {
    display: block;
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

Header .Header img {
    height: 10rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 3px rgba(0, 0, 0, .23);
    border-radius: 2rem;
    padding: 2rem;
}

header .header-2 {
    display: flex;
    padding: 2rem;
}

header .header-2 .navBar {
    display: flex;
    padding: 2rem;
}

header .header-2 .navBar a {
    padding: 2rem 9%;
    font-size: 2rem;
    color: var(--black);
    border: .1rem solid rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 3px rgba(0, 0, 0, .23);
    margin-left: 1rem;
}

header .header-2 .navBar a:hover {
    background-color: var(--orange);
    border-radius: .5rem;
    color: white
}